body {
  max-width: 1440px;
  background: #FFF;
}

.wrapper-content {
  max-width: 98%;
  margin-top: auto;
  margin-left: auto;
}

.header {
  display: flex;
  flex-wrap: wrap; /*перенос строки */
  justify-content: space-between; /*прижимает содержимое к краям */
  align-items: center; /*выравнивает элементы по центру на вертикальной */
}

.header .topnav ul {
  display: flex;
  list-style: none;
}

.topnav__item {
  color: #56593D;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  margin: 20px 10px;
}

.header-logo {
  background: url(./static/logo.png);
  height: 26px;
  width: 90px;
  border-radius: 0px;
}

.icon-human {
  background: url(./static/human.png);
  width: 32px;
  height: 32px;
}

.icon-basket {
  background: url(./static/basket.png);
  width: 32px;
  height: 32px;
}

.icon-search {
  background: url(./static/search.png);
  width: 32px;
  height: 32px;
  margin-left: 15px;
  margin-right: 15px;
}

.header-icons {
  display: flex;
  padding-right: 67px;
}

@media screen and (max-width: 500px) {
  .topnav ul {
    flex-direction: column;
    align-self: center;
  }

  .topnav ul li {
    margin: 5px;
  }
}