body {
  max-width: 1440px;
  background: #FFF;
}

.wrapper-content {
  max-width: 1424px;
  margin-top: auto;
  margin-left: auto;
}

.topnav__item {
  color: #56593D;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}